<title>Bookmarks</title>
<% @bookmarks.each do |bookmark| %>
    <li> <a href="<%= bookmark.url %>">  <%= bookmark.title %> </a> </li>
<% end %>
<br>
<form action="/adder" method="post">
    <font size="6">Please add your new bookmark:<p></font>
    Title: <input type="text" name="title">
    URL: <input type="text" name="bookmark_url">
    <input type="submit" value="Submit">
</form>

<form action="/delete" method="post">
    <font size="6">Please enter a bookmark to delete:<p></font>
    Title: <input type="text" name="title_delete">
    <input type="submit" value="Delete">
</form>

<form action="/update" method="post">
    <font size="6">Update a bookmark:<p></font>
    Enter current title: <input type="text" name="bookmark_to_update">
    New title: <input type="text" name="title_update">
    New URL: <input type="text" name="url_update">
    <input type="submit" value="Update">


</form>
